* {
    margin: 0;
    padding: 0;
    border: 0;
}

.productDetail {
    color: #000;
    display: flex;
    margin-top: 48px;
    max-width: 100%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.productDetail-information {
    line-height: 2;
}

.productDetail-img {
    width: 30%;
    margin-right: 100px;
}

.productDetail-name {
    letter-spacing: 0.007em;
    font-weight: 600;
    font-size: 28px;
}

.productDetail-description {
    font-size: 22px;
    color: #7e7e7e;
}

.productDetail-price {
    font-size: 22px;
}

.productDetail-discount {
    font-size: 22px;
}

.productDetail-total {
    font-size: 22px;
    margin-bottom: 16px;
}

.productDetail-price-discount {
    font-size: 22px;
    padding-right: 16px;
    text-decoration: line-through 1.25px solid #000000;
}

.productDetail-add-cart button {
    width: 100%;
    padding: 18px 24px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    margin-top: 24px;
    line-height: 1.5;
}

.productDetail-add-cart button:hover {
    background: rgba(0, 0, 0, 0.75);
    transition: 1s linear;
}

.list-size {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
}


.size {
    border: 1px solid #b6b6b6;
    font-size: 18px;
    border-radius: 5px;
    margin: 6px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

.selected {
    border: 2px solid #000000;
}

.size:hover {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px inset;
}

@media (max-width: 500px) {
    .productDetail {
        color: #000;
        display: inline-block;
        max-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .productDetail-information {
        line-height: 1.5;
        margin: 24px 64px 0 64px;
    }

    .productDetail-img {
        width: 100%;
    }

    .productDetail-add-cart button {
        width: 100%;
        padding: 18px 24px;
        border-radius: 30px;
        font-weight: 600;
        font-size: 20px;
        background: rgb(17, 17, 17);
        color: rgb(255, 255, 255);
        margin-top: 24px;
        line-height: 1.5;
    }
}